<div class="notFound">	
	<div class="center">
		<h1>404</h1>
		<p>Whoops, page not found.</p>
		<h1><button type="button" class="btn btn-primary btn-lg" onclick="location.href='/login'">Take Me Home!</button></h1>
	</div>
</div>