<div class="background">

	<div class="wrapper">

				  <div class="title" style="text-align:center">  
					<font size="6">Farm2U Account Creation</font>
				  </div>
				  
				  
				  
				  <form id="addUser" class="center" action="/createAccount" method="post">
					  <div class="center" style="text-align:center">  
					  
					  <div class="center">
						<p>{{PasswordConfirmMessage}}</p>
					  </div>
					  
					  <div class="center">
						<label for="uname"><b>Username</b></label>
						<input type="text" maxlength="10" placeholder="Enter Username" name="uname" required>
					  </div>
					  
					   <div class="center">
					   <div class="center">
						<label for="psw"><b>Password</b></label>
						<input type="password" id="PasswordInput" maxlength="10" placeholder="Enter Password" name="psw" required>
					  </div>
					  
					   <div class="center">
						<label for="psw"><b>Confirm Password</b></label>
						<input type="password" id="PasswordInputConfirm" maxlength="10" placeholder="Enter Password" name="psw2" required>
					  </div>
					 
						<input type="radio" name="Choose" value="Customer" />Customer<br/>
						<input type="radio" name="Choose" value="Farmer" />Farmer<br/>
						<input type="radio" name="Choose" value="Rabbit" />Rabbit<br/>
					 
					  
					  <div class="center">
						<input class="btn btn-primary" type="submit" value="Create Now"> 
					  </div>
					  
					  
				   </form>
   
     </div>
	  
  </div>
</div>