

  <div class="title" style="text-align:center">  
	<font size="6">Farm2U Account Creation Page</font>
  </div>
  
  <form id="addUser" action="createAccount/addUser" method="post">
  <div class="center" style="text-align:center">  
	  <div class="container">
		<label for="uname"><b>Username</b></label>
		<input type="text" maxlength="10" placeholder="Enter Username" name="uname" required>
	  </div>
	  
	   <div class="container">
		<label for="psw"><b>Password</b></label>
		<input type="password" maxlength="10" placeholder="Enter Password" name="psw" required>
	  </div>
	  
	  <div class="container">
		<label for="psw"><b>Confirm Password</b></label>
		<input type="password" maxlength="10" placeholder="Enter Password" name="verifypsw" required>
	  </div>
	 
		<input type="radio" name="Choose" value="Customer" />Customer<br/>
		<input type="radio" name="Choose" value="Farmer" />Farmer<br/>
		<input type="radio" name="Choose" value="Rabbit" />Rabbit<br/>
	 
	  
	  <div class="container">
		<button type="submit" onclick="location.href = '/login';">Create Now</button>
	  </div>
	  </form>
	  
  </div>
