<div class="container">
    <h1>Inventory</h1>

        <table class="table table-hover table-condensed">
            <thead> 
                <th>Name</th> 
                <th>Price</th> 
            </thead>
            <tbody> 
                {{#each item}}
                <tr> 
                    <td>{{it_name}}</td> 
                    <td>${{price}}</td> 
                    <td><button class="btn btn-danger btn-sm" onclick="deleteitem({{it_item_id}})">Delete</button></td>
                    <td><button class="btn btn-primary btn-sm" onclick="location.href='/inventory/item/{{it_item_id}}'">Update</a></td>
                </tr> 
                {{/each}} 
        </table> 

        <div class="panel-group" id="addItem">
            <div class="panel">
                <a data-toggle="collapse" data-parent="#addItem" href="#addItemForm">Add Item &raquo;
                </a>
                <div id="addItemForm" class="panel-collapse collapse">
                    <form id="additem" action="/inventory/addItem" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="itemName">
                        </div>
                        <div class="form-group">
                            <label for="name">Price</label>
                            <input type="text" class="form-control" name="itemPrice">
                        </div>
                       <input class="btn btn-primary" type="submit" value="Submit">                                       
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>