<div class="container">
    <h1>Inventory</h1>

        <table class="table table-hover table-condensed">
            <thead> 
                <th>Name</th> 
                <th>Price</th> 
            </thead>
            <tbody> 
                {{#each food}}
                <tr> 
                    <td>{{name}}</td> 
                    <td>{{weight}}</td> 
                    <td><button class="btn btn-danger btn-sm" onclick="deleteitem({{item_id}})">Delete</button></td>
                    <td><button class="btn btn-primary btn-sm" onclick="location.href='/inventory/item/{{item_id}}'">Update</a></td>
                </tr> 
                {{/each}} 
        </table> 

        <div class="panel-group" id="addFood">
            <div class="panel">
                <a data-toggle="collapse" data-parent="#addFood" href="#addFoodForm">Add Food Item &raquo;
                </a>
                <div id="addFoodForm" class="panel-collapse collapse">
                    <form id="addfood" action="/inventory/addFood" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="foodName">
                        </div>
                        <div class="form-group">
                            <label for="name">Price</label>
                            <input type="text" class="form-control" name="foodWeight">
                        </div>
                       <input class="btn btn-primary" type="submit" value="Submit">                                       
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>