

  <div class="title" style="text-align:center">  
	<font size="6">Farm2U Update Account Page</font>
  </div>
  
  <div class="center" style="text-align:center">  
			<div class="container">
		<label for="uname"><b>Current Username</b></label>
		<input type="text" maxlength="10" placeholder="Enter Username" name="uname" required>
	  </div>

	  <div class="container">
		<label for="uname"><b>Desired Username</b></label>
		<input type="text" maxlength="10" placeholder="Enter Username" name="uname" required>
	  </div>
	  
	   <div class="container">
		<label for="psw"><b>Desired Password</b></label>
		<input type="password" maxlength="10" placeholder="Enter Password" name="psw" required>
	  </div>

		<div class="container">
		<label for="psw"><b>Confirm Desired Password</b></label>
		<input type="password" maxlength="10" placeholder="Enter Password" name="psw" required>
	  </div>
	  
	  <p><b>Desired Account Type</b></p>
	  <input type="radio" name="Choose" value="Customer" />Customer<br/>
	  <input type="radio" name="Choose" value="Farmer" />Farmer<br/>
	  <input type="radio" name="Choose" value="Rabbit" />Rabbit<br/>
	 
	  <div class="container">
		<input class="btn btn-primary" type="submit" value="Update Account Information">
	  </div>

	  <form id="delete" action="updateAccount/delete" method="post">
	  <div class="container">
		<label for="unameDelete"><b>Username</b></label>
		<input type="text" maxlength="10" placeholder="Enter Username" name="unameDelete" required>
	  </div>
		  <div class="container">
			<input class="btn btn-primary" type="submit" value="Delete Account">
		  </div>
	  </form>
	  
  </div>